<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageBrower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>927A23121E14E1F60060BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927A232B1E14E1F60060BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927A23361E14E1F60060BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
